<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Веб-приложение</title>
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container edit-container">
        <h1>Изменить профиль</h1>
        <p><a href="{{ url_for('index') }}">На Главную</a></p>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="POST" action="{{ url_for('update_pass') }}">
            <h3 class="margin10">Изменение пароля</h3>
            <div>
                <label for="username2">Имя пользователя</label>
                <input name="username" id="username2" value="{{ current_user }}" disabled>
            </div>

            <div>
                <label for="password2">Текущий пароль</label>
                <input name="current_password" id="password2" autocomplete="current-password" type="password">
            </div>
            
            <div>
                <label for="password3">Новый пароль</label>
                <input name="new_password" id="password3" autocomplete="new-password" type="password">
            </div>

            <button type="submit" class="margin10 def-btn">Изменить пароль</button>
        </form>

        <form method="POST">
            <h3 class="margin10">Изменение данных</h3>

            <div>
                <label for="last_name">Фамилия</label>
                <input name="last_name" id="last_name" value="{{ profile.last_name or '' }}">
            </div>
            
            <div>
                <label for="first_name">Имя</label>
                <input name="first_name" id="first_name" value="{{ profile.first_name or '' }}">
            </div>
            
            <div>
                <label for="middle_name">Отчество</label>
                <input name="middle_name" id="middle_name" value="{{ profile.middle_name or '' }}">
            </div>

            <div>
                <label for="description">О себе</label>
                <textarea name="description" id="description" maxlength="400">{{ profile.description or '' }}</textarea>
            </div>
            
            <div>
                <label for="age">Возраст</label>
                <input name="age" id="age" type="number" value="{{ profile.age or '' }}">
            </div>
            
            <div>
                <label for="university">Учебное заведение</label>
                <input name="university" id="university" value="{{ profile.university or '' }}">
            </div>
            
            <div>
                <label for="year">Курс</label>
                <input name="year" id="year" type="number" value="{{ profile.year or '' }}">
            </div>

            <button type="submit" class="margin10 def-btn">Сохранить</button>
        </form>

        <form method="POST" action="{{ url_for('delete_account') }}" onsubmit="return confirm('Вы уверены, что хотите удалить аккаунт? Это действие нельзя отменить');">
            <button type="submit" class="def-btn dlt-btn">Удалить аккаунт</button>
        </form>

    </div>
</body>
</html>