<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Веб-приложение</title>
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="utf-8">
</head>
<body>
    <div class="container index-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message|safe }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="header">
            {% if not is_public %}
                <h1>Мое Портфолио</h1>
                <div class="user-container">
                    <div class="user">
                        <span>{{ current_user }}</span>
                        <img src="{{ url_for('static', filename='img/user.png') }}" alt="{{ current_user }}" style="margin-left: 10px;" height="32">
                    </div>
                    <div class="options">
                        <p><a href="{{ url_for('logout') }}">Выйти</a></p>
                        <p><a href="{{ url_for('edit') }}">Изменить профиль</a></p>                    
                    </div>
                </div>
            {% else %}
                <h1>Портфолио {{ current_user }}</h1>
                <div class="options">
                    <p><a href="{{ url_for('login') }}">Войти</a></p>
                    <p><a href="{{ url_for('index') }}">На Главную</a></p>
                </div>
            {% endif %}
        </div>

        <div class="biography">
            {% set full_name = [profile.last_name, profile.first_name, profile.middle_name] | select('string') | join(' ') %}
            
            {% if full_name or profile.description %}
                <p>{{ full_name }}</p>
                <p>{{ profile.description or '' }}</p>
            {% endif %}
        </div>   

        <div class="projects-container">
            {% if not is_public %}
                <a href="{{ url_for('add_project') }}">&#10010; Добавить проект</a>
            {% endif %}

            <hr class="margin10">
            <div class="filters">
                <button class="filter-btn" data-category="all">Все</button>
                <button class="filter-btn" data-category="учебный">Учебные</button>
                <button class="filter-btn" data-category="личный">Личные</button>
                <button class="filter-btn" data-category="командный">Командные</button>
            </div>
            <hr>

            {% if projects %}
                <div class="project-list">
                    {% for project in projects %}
                        <div class="project-card" data-category="{{ project.category }}">
                            <div class="project-category 
                                {% if project.category == 'учебный' %}category-study
                                {% elif project.category == 'личный' %}category-personal
                                {% elif project.category == 'командный' %}category-team
                                {% endif %}">
                                {{ project.category }}
                            </div>
                            <h3 class="project-title">{{ project.title }}</h3>
                            <p>{{ project.description }}</p>
                            <a href="{% if not project.links.startswith('http') %}https://{% endif %}{{ project.links }}" target="_blank">{{ project.links }}</a>
                            {% if project.image_path %}
                                <img src="{{ url_for('static', filename='img/' + project.image_path) }}" alt="{{ project.title }}">
                            {% endif %}     
                            
                            {% if not is_public %}
                                <div class="btns-container">
                                    <a href="{{ url_for('edit_project', project_id=project.id) }}">
                                        <button type="button">Редактировать</button>
                                    </a>                                
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                {% if not is_public %}
                    <p class="empty margin10">У вас пока нет проектов</p>
                {% else %}
                    <p class="empty margin10">У этого пользователя пока нет проектов</p>
                {% endif %}
            {% endif %}
        </div>

        {% if not is_public %}
            {# Кнопка экспорта в PDF видна только владельцу #}
            <a href="{{ url_for('export_pdf') }}" class="def-btn pdf-btn margin10" target="_blank">Сохранить профиль в PDF</a>
        {% endif %}

    </div>

    <script src="../static/script.js"></script>

</body>
</html>