<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Веб-приложение</title>
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container index-container">
        <div class="header">
            <h1>Мое Портфолио</h1>
            <div class="user-container">
                <div class="user">
                    {% if current_user %}
                        <span>{{ current_user }}</span>
                    {% endif %}
                    <img src="../static/img/user.png" alt="{{ current_user }}" style="margin-left: 10px;" height="32">
                </div>
                <div class="options">
                    <p><a href="{{ url_for('logout') }}">Выйти</a></p>
                    <p><a href="{{ url_for('edit') }}">Изменить профиль</a></p>                    
                </div>

            </div>            
        </div>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message|safe }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="projects-container">
            <a href="{{ url_for('add_project') }}">Добавить проект</a>

            <div class="filters">
                <button class="filter-btn" data-category="all">Все</button>
                <button class="filter-btn" data-category="учебный">Учебные</button>
                <button class="filter-btn" data-category="личный">Личные</button>
                <button class="filter-btn" data-category="командный">Командные</button>
            </div>
            
            {% if projects %}
                <div class="project-list">
                    {% for project in projects %}
                        <div class="project-card" data-category="{{ project.category }}"">
                            <div class="project-category 
                                {% if project.category == 'учебный' %}category-study
                                {% elif project.category == 'личный' %}category-personal
                                {% elif project.category == 'командный' %}category-team
                                {% endif %}">
                                {{ project.category }}
                            </div>
                            <h3 class="project-title">{{ project.title }}</h3>
                            <p>{{ project.description }}</p>
                            <a href="{% if not project.links.startswith('http') %}https://{% endif %}{{ project.links }}" target="_blank">{{ project.links }}</a>
                            {% if project.image_path %}
                                <img src="{{ url_for('static', filename='img/' + project.image_path) }}" alt="{{ project.title }}" >
                            {% endif %}     
                            <div class="btns-container">
                                <a href="{{ url_for('edit_project', project_id=project.id) }}">
                                    <button type="button">Редактировать</button>
                                </a>                                
                            </div>
                            
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="empty margin10">У вас пока нет проектов.</p>
            {% endif %}
        </div>

    </div>

    <script src="../static/script.js"></script>

</body>
</html>